* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.app-container {
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: linear-gradient(
		to bottom right,
		rgba(142, 35, 156, 0.562),
		rgba(84, 134, 241, 0.452),
		rgb(142, 35, 156)
	);
	backdrop-filter: blur(20px);
    
}

.application {
	height: 90%;
	width: 80%;
	display: flex;
	border-radius: 25px;
    box-shadow: 5px 5px 10px black;
}

/* ////////////////////////////////// SETTING BOX //////////////// */
.setting-box {
	height: 100%;
	width: 15%;
	background-color: rgba(50, 15, 95, 0.637);
	border-top-left-radius: 25px;
	border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.setting-box h1{
    color: white;
    font-weight: 700;
    font-size: 40px;
}
.setting-box h3{
    color: white;
    font-weight: 700;
    font-size: 20px;
}
.setings-viev{

    height:2em;
    width:80%;
    font-size: 24px;
    font-weight: 600;
    color: white;
    border-bottom:solid 2px black;
    padding-left:1.5em;
}
.setings-viev:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.social-icon{
    display: flex;
    width:100%;
    justify-content: space-around;
}
ion-icon:hover{
    transform: scale(1.1);
}
.logOut button{
    height:2em;
    width:10em;
    font-weight: 600;
    font-size: large;
    border-radius: 10px;
    border: none;
    background-color: darkorange;
}
.logOut button:hover{
    cursor: pointer;
    transform: scale(1.1);
}
/* //////////////////////////// MAIN BOX/////////////////////////////// */
.main-app-box {
	height: 100%;
	width: 85%;
}

/* ///////////////////////////// NAV SECTION ///////////////////////// */

.nav-section {
	height: 5em;
	width: 100%;
	background-color: rgba(50, 15, 95, 0.637);
	display: flex;
	position: relative;
	top: 0;
	justify-content: space-around;
    align-items: center;
	border-top-right-radius: 20px;
}
.exit-app {
	border: solid 2 px red;
	height: 100%;
	width: 5em;
	display: flex;
	position: absolute;
	justify-content: flex-end;
	padding: 1em;
	align-items: center;
	right: 1em;
}
.exitRing {
	background-color: red;
	border-radius: 50%;
	height: 2em;
	width: 2em;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	font-weight: 600;
	color: white;
    
}
.exitRing:hover{
    transform: scale(1.1);
    cursor:pointer;
}
ion-icon {
	font-size: 54px;
    color: white;
    font-weight: 900;
}
.real-time {
	color: white;
    height:80%;
    padding:1em;
    
}
.avatar {
	
	height: 100%;
	width: 10em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#userAvatar{
    height:80%;
    width:40%;
    background-image:url(/photo/app\ user.jpg);
    background-position: center;
    background-size: cover;
    border:solid 2px black;
    cursor: pointer;
    border-radius: 50%;
}
.real-time {
	display: flex;
	width: 15em;
	margin-left: -5em;
	font-size: larger;
	font-weight: 700;
	justify-content: space-around;
	align-items: center;
}
#search {
	height: 50%;
	width: 20em;
	border-radius: 15px;
	border: none;
	outline: none;
    padding-left:2em;
    font-size: larger;
}
.addTask-nav{
    height:80%;
    width:3%;
    
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calendaryChose{
    
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width:3%;
    height:80%;
}

/* ///////////////// calendar////////////// */
.weekendDays {
	height: 5em;
	width: 100%;
	display: flex;
	position: static;
}
.days {
	height: 100%;
	width: 20%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 22px;
	color: black;
	position: static;
    color:white;
	border-right:3px solid white;
}
.days-time {
	height: 56em;
	width: 20%;
	display: flex;
	align-items: center;
	flex-direction: column;
	border-right:solid 3px white;
	overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.377);
	position: relative;
}
.main-time-container {
	display: flex;
	width: 100%;
	height: 85%;
	border-bottom-right-radius: 20px;
}
/* ////////////////// TASK ADD WINDOW /////////// */
.exit-btn{
	position: absolute;
	top:1%;
	right:2%;
	color: red;
	font-size: 24px;
	cursor:pointer;
}
.task-add-window{
	position: absolute;
	top:40%;
	left:45.5%;
	display: none;
	flex-direction: column;
	width: 20%;
	height:25%;
	background-color: rgb(104, 58, 163);
	border:4px solid rgb(79, 22, 136);
	z-index: 1;
	border-radius: 15px;
	align-items: center;
	justify-content: space-between;
	transition: 0.3s ease-in-out;
}
.data-box{
	
	display: flex;
	align-items: center;
	height:25%;
	width:100%
}
#calendar-select{
	margin-left: 1em;
}
.data-box p{
	color: white;
	margin-left: 10%;
	
}
.data-box a{
	color: white;
	margin-right: 10%;
	
}
#range{
	position: relative;
	width:25%;
	margin-left: auto;
	margin-right: auto;
}
.task-box{
	
	width:100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height:40%;
	
}
.task-box input{
	height: 50%;
	width: 70%;
	border-radius: 15px;
	border: none;
	outline: none;
    padding-left:2em;
    font-size: larger;
}
.button-box{
	width:100%;
	height:30%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.button-box button{
	height:2em;
    width:10em;
    font-weight: 600;
    font-size: large;
    border-radius: 10px;
    border: none;
    background-color: darkorange;
}
.button-box button:hover{
	transform: scale(1.1);
}
.days-select{
	height:100%;
	width:100%;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	color:white;
	border:none;
	background-color:rgba(64, 21, 104, 0.74);
}
.selectDay{
	position: absolute;
	border-radius:15px;
	z-index: 2;
	display: none;
	flex-direction: column;
	padding-top:2em;
	width: 20%;
	height:25%;
	background-color: rgb(104, 58, 163);
	border:4px solid rgb(79, 22, 136);
	top:14.5%;
	left:45.5%;
	cursor: pointer;
}
.selectDay input{
	position: absolute;
	height: 2.5em;
	width:20em;
	right:2em;
	bottom:6em;
	padding-left: 2em;
	background-color:rgba(64, 21, 104, 0.74);
	color: white;
	border-radius:10px;
	border:none;
	outline: none;
	cursor:pointer;
}
.selectDay button{
	position: absolute;
	bottom:1em;
	left:33%;
	height:2em;
    width:10em;
    font-weight: 600;
    font-size: large;
    border-radius: 10px;
    border: none;
    background-color: darkorange;
}
.selectDay button:hover{
	transform: scale(1.1);
}

.days-section{
	height:80%;
	display: grid;
	grid-template-columns: 33% 33% 33% ;
	grid-template-rows: 33% 33% 33%;
	gap:2px;

	
}

.new-task{
	display: flex;
	flex-direction: column;
	background-color: rgb(199, 151, 243);
	border-bottom:4px solid rgb(78, 3, 121);
	border-radius:10px;
	width:95%;
	height:auto;
	margin-top: 1em;
	padding:4px;
	

}
.nav-task{
	width:100%;
	height:20%;
	padding-right:1em;
	display: flex;
	color: white;
	justify-content: space-between;
}
.main-task{
	padding:1em;
	color:white;
}
.exit-task{
	color:red;
	cursor: pointer;
}
.time-task{
	color: rgb(179, 100, 3);
}

/* //////////////// SCROLLBAR/////////// */
.days-time::-webkit-scrollbar {
	width: 4px;
}
.days-time::-webkit-scrollbar-track {
	background: whitesmoke;
}
.days-time::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	border: 2px solid transparent;
}
.days-time::-webkit-scrollbar-thumb:hover {
	background-color: rgba(0, 0, 0, 0.5);
}
